
.nav-color{
    background-color: rgb(21, 152, 156);
    color: white;
}

/* header Ends */

.nav-item{
    transition: .5s;
}

.nav-item:hover{

cursor: pointer;
color: rgb(198, 230, 231);
font-family: cursive;


background-color: rgb(11, 59, 59);


}
